.banner{
	background-image: url(images/bannerpic.jpg);
	color:  white;
	padding: 150px 0px;
	background-size: cover;
	background-position: center;
	border-radius: 20px;
	border: pink;
	border-style: solid;
	border-width: 10px;
}

.banner h1{
	font-size:  80px;
	color: whitesmoke;	
	text-align: left;
	margin-left: 20px;
	margin-bottom: -30px;
}

.banner h2{
	font-size:  35px;
	font-weight:  lighter;
	text-align: left;	
	opacity: 0.8;
	margin-bottom: 200px;
	color: whitesmoke;
	margin-left: 20px;
}


 @media (max-width:  500px) {
 	.banner {
 		display: none;
 	}
 }